/* MOBILE */

* {
  margin: 0;
}

.container {
  width: 375px;
  margin: 0 auto;
}

.section:nth-child(2n) {
  background-color: #94b49f;
}

.section:nth-child(2n + 1) {
  background-color: #e5e3c9;
}
