/* MOBILE */

/* font-family: 'Montserrat', sans-serif;*/

/* Global styles */
* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* Header */
.nav-icons {
  margin: 20px 4px 0 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}

.nav-icons .fa-brands {
  color: #fff;
  border: 1px solid rgba(245, 245, 245, 0.676);
  border-radius: 50%;
  padding: 18px;
  margin: 4px;
}

.nav-icons .fa-stack-overflow {
  width: 15px;
}

.header-section {
  background-image: url(assets/beige.jpg);
  background-size: cover;
  height: 520px;
  background-position-x: 10%;
  position: relative;
}

.header-content {
  width: 375px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header-image > .project-overlay {
  z-index: 1;
  background: #b2a69a8f;
}

.portfolio-presentation {
  margin-top: 110px;
  margin-left: 24px;
  color: #fff;
  z-index: 2;
}

.portfolio-presentation > h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  line-height: 49px;
  font-weight: 700;
}

.portfolio-presentation > h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}

.portfolio-name {
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.portfolio-name > span {
  font-weight: 700;
}

.profile-picture {
  width: 180px;
  border-radius: 50%;
  position: absolute;
  bottom: -24px;
  right: 24px;
  border: 2px solid whitesmoke;
  z-index: 1;
}

.header-text-group {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  box-sizing: border-box;
}

/* Sections */

.section:nth-child(2n) {
  background-color: #fff;
}

.section:nth-child(2n + 2) {
  /* Creates different bg-colors for every other section */
  background-color: #f4f4f4;
}

.container {
  margin: 0 auto;
  padding: 49px 24px 49px 24px;
  display: flex;
  flex-direction: column;
}

.project-image {
  width: 100%;
  display: flex;
}

.project-image-group {
  position: relative;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #b2a69a85;
}

.big-project-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
}

.project-type {
  font-size: 17px;
  line-height: 29px;
  font-weight: 700;
  text-transform: uppercase;
}

.project-heading h2 {
  font-size: 17px;
  line-height: 29px;
  margin: 9px 27px 9px 27px;
  text-transform: uppercase;
}

footer {
  background: #b2a69a8f;
}

footer .fa-brands {
  color: #fff;
  display: flex;
  flex-direction: row;
}

/* MEDIA QUERY */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
