/* MOBILE */

/* font-family: 'Montserrat', sans-serif;
  font-family: "Roboto", sans-serif;*/

/* Global styles */
* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

/* Header */
.nav-icons {
  z-index: 1;
  display: flex;
  position: absolute;
  top: 20px;
  right: 30px;
}

.nav-icons .fa-brands {
  color: #fff;
  border: 1.3px solid rgba(245, 245, 245, 0.676);
  border-radius: 50%;
  padding: 16px;
  margin: 4px;
}

.nav-icons .fa-stack-overflow {
  width: 15px;
}

.header-section {
  background-image: url(assets/sand-background.jpg);
  background-size: cover;
  height: 520px;
  background-position-x: 10%;
  position: relative;
}

.header-content {
  width: 375px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header-image > .project-overlay {
  z-index: 1;
  background: #504b46d4;
}

.portfolio-presentation {
  color: #fff;
  z-index: 2;
  position: absolute;
  top: 181px;
  left: 24px;
}

.portfolio-presentation > h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 42px;
  line-height: 49px;
  font-weight: 700;
}

.portfolio-presentation > h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}

.portfolio-name {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}

.frontend-developer {
  background: linear-gradient(
    28deg,
    #ff7c7c 15%,
    #ff7878 0,
    #ffaeae 30%,
    #fe85aa 45%,
    #fd92b3 0,
    #f75656 60%,
    #ef6060 0,
    #f18686 75%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  max-width: 400px;
}

.profile-picture {
  width: 180px;
  border-radius: 50%;
  position: absolute;
  bottom: -24px;
  right: 24px;
  border: 2px solid whitesmoke;
  z-index: 1;
}

.header-text-group {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  box-sizing: border-box;
}

.section:nth-child(2n + 1) {
  /* Creates different bg-colors for every other section */
  background-color: #f4f4f4;
}

.section .project-overlay:hover {
  background: transparent;
}

.container {
  margin: 0 auto;
  width: 320px;
  padding: 15px 24px 41px 24px;
  display: flex;
  flex-direction: column;
}

.skills-container {
  margin: 0 auto;
  width: 350px;
  padding: 0 0 41px 0;
  display: flex;
  flex-direction: column;
}

.container-featured-projects {
  padding: 5px 24px 0 24px;
}

.line {
  border: 1px solid #e38282;
  width: 40px;
  display: inline-block;
  margin-bottom: 4px;
}

.dot {
  height: 10px;
  width: 10px;
  background: #d45454;
  border-radius: 50%;
  display: inline-block;
  margin-left: -10px;
}

.container .top-section {
  margin-top: 22px;
}

.presentation-hello {
  line-height: 1.3em;
  margin-left: 7px;
}

.presentation-hello-second {
  margin-top: 15px;
  display: block;
  line-height: 1.4em;
}

.tech-tools {
  text-align: center;
  line-height: 1.4em;
}

.container-portfolio {
  margin: 0 auto;
  width: 320px;
  padding: 41px 24px 0 24px;
  display: flex;
  flex-direction: column;
}

.project-image {
  width: 100%;
  display: flex;
}

.link-to-projects {
  text-decoration: none;
}

.project-image-group {
  position: relative;
  display: block;
}

.technology-used span {
  display: inline-block;
  background: #d4bfa1ba;
  margin-bottom: 5px;
  padding: 0.2rem;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
  margin-right: 5px;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #504b46d4;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  display: flex;
}

.image-heading {
  position: absolute;
  z-index: 1;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
}

.big-project-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #d45454;
}

.big-project-heading h2 {
  background: #f4f4f4;
  display: inline-block;
  padding: 10px 10px;
  margin: 25px 0 15px 0;
}

.project-heading h2 {
  font-size: 18px;
  line-height: 29px;
  margin: 12px 0 12px 0;
  text-transform: uppercase;
  color: #936a2f;
  font-family: "Roboto", sans-serif;
}

.project-description {
  margin: 15px 0 15px 0;
  line-height: 1.4em;
}

.project-text-group-others {
  padding-bottom: 10px;
}

.link-to-netlify {
  text-decoration: none;
  font-weight: 600;
  color: #a97d60;
}

.skills-parent {
  display: flex;
  justify-content: center;
  font-size: 14px;
  width: 100%;
}

.skills-child {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 33%;
}

.skills-header {
  color: #a97d60;
  font-family: "Roboto", sans-serif;
}

.skills-header-code {
  color: #a97d60;
  font-family: "Roboto", sans-serif;
}

.for-more-nav-icons {
  text-align: center;
}

.for-more-nav-icons .fa-brands {
  color: #fff;
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 18px;
  margin: 4px;
  text-align: center;
}

.for-more-nav-icons .fa-stack-overflow {
  width: 15px;
}

/* Designing footer */
footer {
  background-image: url(assets/sand-background.jpg);
  background-size: cover;
  position: relative;
}

.header-section {
  background-image: url(assets/sand-background.jpg);
  background-size: cover;
  height: 520px;
  background-position-x: 10%;
  position: relative;
}

.footer-filter {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #504b46d4;
  color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
}

footer > .container {
  text-align: center;
  display: table;
  flex-direction: row;
  position: relative;
}

footer .big-project-heading {
  background: linear-gradient(
    28deg,
    #ff7c7c 15%,
    #ff7878 0,
    #ffaeae 30%,
    #fe85aa 45%,
    #fd92b3 0,
    #f75656 60%,
    #ef6060 0,
    #f18686 75%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: lowercase;
  font-size: 30px;
  margin: 35px 0;
}

.copyright {
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.hidden-items {
  display: none;
}

/* MEDIA QUERY FOR TABLET*/
@media screen and (min-width: 768px) {
  .container {
    width: 60%;
  }
  .project-text-group {
    width: 50%;
  }

  .profile-picture {
    position: absolute;
    bottom: -24px;
    right: 150px;
  }

  .portfolio-presentation {
    top: 270px;
    left: 150px;
    width: 420px;
    margin-left: 8px;
  }

  .nav-icons {
    position: absolute;
    top: 40px;
    right: 120px;
  }

  .skills-header-code {
    width: 138px;
  }

  .container-featured-projects {
    padding: 0;
  }

  .hidden-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  /* Styling portfolio section with flex */

  .container-featured-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .gallery-flex {
    width: 30%;
  }

  .project-text-group {
    width: 100%;
  }
}

/* MEDIA QUERY FOR LARGET TABLETS */
@media screen and (min-width: 1000px) {
  .portfolio-presentation {
    top: 270px;
    left: 150px;
    width: 420px;
    margin-left: 46px;
  }
}

/* MEDIA QUERY FOR DESKTOP */
@media screen and (min-width: 1200px) {
  .container {
    width: 60%;
  }

  .container .top-section {
    margin-top: 60px;
  }

  .frontend-developer {
    background: linear-gradient(
      47deg,
      #ff7c7c 15%,
      #ff7878 0,
      #ffaeae 30%,
      #fe85aa 45%,
      #fd92b3 0,
      #fe724f 60%,
      #ff5858 0,
      #d98585 75%
    );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    max-width: 400px;
  }

  .nav-icons {
    z-index: 1;
    display: flex;
    position: absolute;
    right: 400px;
  }

  .profile-picture {
    right: 190px;
    top: 330px;
    width: 240px;
    height: 240px;
  }

  .portfolio-presentation {
    width: 607px;
    position: absolute;
    left: 256px;
    top: 206px;
    margin-top: 0;
    margin-left: 0;
  }

  .flex-projects {
    width: 485px;
  }

  .big-project-heading h2 {
    font-size: 30px;
    line-height: 46px;
    margin-bottom: 40px;
  }

  .nav-icons .fa-stack-overflow {
    width: 14px;
  }
}
